<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Add Doctor Page</title>
<th:block th:include="fragments/headincl :: head"></th:block>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/js/bootstrap-datepicker.js"></script>
<link type="text/css"
	href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/css/bootstrap-datepicker.css"
	rel="stylesheet" />

<script th:inline="javascript">
	$(document).ready(function() {
		$('#datepicker').datepicker({
			todayHighlight : true,
			format : 'dd-mm-yyyy'
		});
	});
</script>
</head>
<body>
	<div class="wrapper">
		<div class="container">
			<th:block th:include="fragments/header :: anavbar(usersDoc,drop1)"></th:block>
			<br></br>

			<div id="doctorForm">

				<br></br>
				<form class="form-horizontal" th:action="@{/admin/addDoc}"
					th:object="${doctorUserDto}" method="POST" enctype="utf8">

					<div id="userForm">
						<h3
							style="background-color: #4373a7; color: white; margin-top: 0px;">Add
							new Doctor User Form</h3>
						<br></br>

						<div class="form-group"
							th:classappend="${#fields.hasErrors('username')} ? has-error : ''">
							<label class="col-md-2 control-label">Username:</label>
							<div class="col-md-8">
								<input type="text" class="form-control" th:field="*{username}"
									placeholder="Between 4 and 10 characters" /> <span
									th:if="${#fields.hasErrors('username')}" class="help-block"
									th:errors="*{username}"></span>
							</div>
						</div>

						<div class="form-group"
							th:classappend="${#fields.hasErrors('password')} ? has-error : ''">
							<label class="col-md-2 control-label">Password:</label>
							<div class="col-md-8">
								<input type="password" class="form-control"
									th:field="*{password}" placeholder="Must not be empty!" /> <span
									th:if="${#fields.hasErrors('password')}" class="help-block"
									th:errors="*{password}"></span>
							</div>
						</div>

						<div class="form-group"
							th:classappend="${#fields.hasErrors('confirmPassword')} ? has-error : ''">
							<label class="col-md-2 control-label">Confirm Password:</label>
							<div class="col-md-8">
								<input type="password" class="form-control"
									th:field="*{confirmPassword}" placeholder="Must not be empty!" />
								<span th:if="${#fields.hasErrors('confirmPassword')}"
									class="help-block" th:errors="*{confirmPassword}"></span>
							</div>
						</div>

						<div class="form-group"
							th:classappend="${#fields.hasErrors('email')} ? has-error : ''">
							<label class="col-md-2 control-label">Email:</label>
							<div class="col-md-8">
								<input type="email" class="form-control" th:field="*{email}"
									placeholder="For example: joe@xyz.com" /> <span
									th:if="${#fields.hasErrors('email')}" class="help-block"
									th:errors="*{email}"></span>
							</div>
						</div>

						<div class="form-group"
							th:classappend="${#fields.hasErrors('address')} ? has-error : ''">
							<label class="col-md-2 control-label">Address:</label>
							<div class="col-md-8">
								<input type="text" class="form-control" th:field="*{address}"
									placeholder="Must have at least 2 characters" /> <span
									th:if="${#fields.hasErrors('address')}" class="help-block"
									th:errors="*{address}"></span>
							</div>
						</div>

						<div class="form-group"
							th:classappend="${#fields.hasErrors('telephone')} ? has-error : ''">
							<label class="col-md-2 control-label">Telephone:</label>
							<div class="col-md-8">
								<input type="text" class="form-control" th:field="*{telephone}"
									placeholder="Must have at least 6 numbers" /> <span
									th:if="${#fields.hasErrors('telephone')}" class="help-block"
									th:errors="*{telephone}"></span>
							</div>
						</div>

						<div class="form-group"
							th:classappend="${#fields.hasErrors('userStatus')} ? has-error : ''">
							<label class="col-md-2 control-label">User Status:</label>
							<div class="col-md-8">
								<select class="form-control" th:field="*{userStatus}">
									<option value="">-SELECT A STATUS-</option>
									<option value="ACTIVE">ACTIVE</option>
									<option value="INACTIVE">INACTIVE</option>
								</select> <span th:if="${#fields.hasErrors('userStatus')}"
									class="help-block" th:errors="*{userStatus}"></span>
							</div>
						</div>

						<input type="hidden" name="roleType" value="DOCTOR" />

					</div>

					<div id="personalDataForm">
						<h3
							style="background-color: #4373a7; color: white; margin-top: 0px;">Add
							new Doctor Personal Data</h3>
						<br></br>

						<div class="form-group"
							th:classappend="${#fields.hasErrors('firstName')} ? has-error : ''">
							<label class="col-md-2 control-label">First Name:</label>
							<div class="col-md-8">
								<input type="text" class="form-control" th:field="*{firstName}"
									placeholder="Must not be empty!" /> <span
									th:if="${#fields.hasErrors('firstName')}" class="help-block"
									th:errors="*{firstName}"></span>
							</div>
						</div>

						<div class="form-group"
							th:classappend="${#fields.hasErrors('lastName')} ? has-error : ''">
							<label class="col-md-2 control-label">Last Name:</label>
							<div class="col-md-8">
								<input type="text" class="form-control" th:field="*{lastName}"
									placeholder="Must not be empty!" /> <span
									th:if="${#fields.hasErrors('lastName')}" class="help-block"
									th:errors="*{lastName}"></span>
							</div>
						</div>

						<div class="form-group"
							th:classappend="${#fields.hasErrors('qualifications')} ? has-error : ''">
							<label class="col-md-2 control-label">Qualifications:</label>
							<div class="col-md-8">
								<input type="text" class="form-control"
									th:field="*{qualifications}" placeholder="Must have 6 letters!" />
								<span th:if="${#fields.hasErrors('qualifications')}"
									class="help-block" th:errors="*{qualifications}"></span>
							</div>
						</div>

						<div class="form-group"
							th:classappend="${#fields.hasErrors('licenceCode')} ? has-error : ''">
							<label class="col-md-2 control-label">License Code:</label>
							<div class="col-md-8">
								<input type="text" class="form-control"
									th:field="*{licenceCode}" placeholder="Must have 6 numbers!" />
								<span th:if="${#fields.hasErrors('licenceCode')}"
									class="help-block" th:errors="*{licenceCode}"></span>
							</div>
						</div>

						<div class="form-group"
							th:classappend="${#fields.hasErrors('gender')} ? has-error : ''">
							<label class="col-md-2 control-label">Gender:</label>
							<div class="col-md-8">
								<select class="form-control" th:field="*{gender}">
									<option value="">-SELECT A GENDER-</option>
									<option value="F">FEMALE</option>
									<option value="M">MALE</option>
								</select> <span th:if="${#fields.hasErrors('gender')}" class="help-block"
									th:errors="*{gender}"></span>
							</div>
						</div>

						<div class="form-group"
							th:classappend="${#fields.hasErrors('birthDate')} ? has-error : ''">
							<label class="col-md-2 control-label">BirthDate:</label>
							<div class="col-md-8">
								<input type="text" id="datepicker" class="form-control"
									th:field="*{birthDate}" placeholder="Pick a date!" /> <span
									th:if="${#fields.hasErrors('birthDate')}" class="help-block"
									th:errors="*{birthDate}"></span>
							</div>
						</div>

						<div class="form-group">
							<label class="col-md-2 control-label">Other:</label>
							<div class="col-md-8">
								<textarea rows="5" cols="100" class="form-control"
									th:field="*{other}" placeholder="Other data"> 								
							</textarea>

							</div>
						</div>
					</div>

					<div id="bottom1">
						<input type="hidden" th:name="${_csrf.parameterName}"
							th:value="${_csrf.token}" />

						<div class="form-actions">
							<button type="submit" class="btn btn-primary">Submit</button>
						</div>
					</div>
				</form>

				<div id="bottom2">
					<h3 style="margin: 50px 0px;" class="text-warning bg-warning"
						th:text="${formMessageNoUse}">form adm</h3>
					<h3 style="margin: 50px 0px;" class="text-success bg-success"
						th:text="${formMessageScc}">form success</h3>
					<h3 style="margin: 50px 0px;" class="text-danger bg-danger"
						th:text="${formMessageErr}">form</h3>
				</div>
			</div>

			<div class="centrlink2">
				<a th:href="@{/admin/usersDoc}">Back to Users - Doctor</a>
			</div>
			<th:block th:include="fragments/footer :: footer"></th:block>
		</div>
	</div>
</body>
</html>